<!-- Footer Include !-->

<footer class="bk-footer">
	<div class="container">
		{{widget('content', 'footer-content', {content: '<p>This is a content widget.</p>', lines: 'all'})|raw}}
		{{widget('profile', 'footer-copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>
</footer>